<!-- El navbar de servicios -->
<nav class="navbar navbar-dark" style="background-color: peru">
  <a href="/" class="navbar-brand" > Servicios</a>
  <ul class="navbar-nav pull-xs-left">
    <a href="/" class="nav-link ">Pagina principal</a>
  </ul>
</nav>

<div class="container p-5">
  <!-- formulario de servicios -->
  <div class="row justify-content-md-center">
    
    <!-- crear servicio-->
    <div class= "col-md-8">
      <div class= "card">
        <h2 class="card-header bg-primary text-light" style="text-align: center">Agregar Servicios</h2>
        <form class="card-body">
          <!-- nombre -->
          <label for="nombre">Nombre: </label>
          <input type="text" name="nombre" #nombre class="form-control" autofocus>
          
          <!-- Servicio -->
          <label for="servicio">Servicio: </label>
          <input type="text" name="servicio" #servicio class="form-control" autofocus>
          
          <!-- kg & croquetas-->
          <label for="Kgcroquetas">Cuantos Kg de croquetas vale una tuya? : </label>
          <input type="text" name="Kgcroquetas" #Kgcroquetas class="form-control">
          
          <!-- maximo de horas al dia-->
          <label for="maxhr"> Cuantos horas maximas puedas contribuir? : </label>
          <input type="text" name="maxhr" #maxhr class="form-control">

          <button (click)="AgregarServicio(nombre, servicio, Kgcroquetas, maxhr)" class="btn btn-primary active btn-block mt-3">
            Publicar Servicios
          </button>
          <span class="badge badge-pill badge-secondary">Opcion solo avilitada para usarios</span>
        </form>
      </div>
    </div>
    
    <!-- Donacion de croquetas  -->
    <div class= "col md-5">
      <app-donar></app-donar>
    </div>

  </div>
</div>